.create-user-header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: darkcyan;

}

.flex-box-create-user{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    text-align: left;
}


