*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-box{
    height: 80px;
    background: darkcyan;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.tilmeld{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 10px 20px;
    background: white;
    color: lightskyblue;
    border-radius: 70px;
    border-style: solid;
    font-weight: lighter;
    font-size: large;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 10px 20px;
    background: white;
    color: lightskyblue;
    border-radius: 70px;
    border-style: solid;
    font-weight: lighter;
    font-size: large;
}

.main{
    display: flex;
    justify-content: center;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}