.sing-in-header{
    display: flex;
    justify-content: center;
    height: 80px;
    background: darkcyan;

}

.flex-box-sign-in{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    text-align: left;

}
.sign-in-button{
    display: flex;
    justify-content: center;
}

.error{
    display: flex;
    justify-content: center;
    color: red;
}