header{
    display: flex;
    justify-content: left;
    height: 80px;
    background: darkcyan;
    align-items: center;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formBox{
    display: flex;
    flex-direction: column;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}