header{
    display: flex;
    justify-content: center;
    height: 80px;
    background: darkcyan;

}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formBox{
    display: flex;
    flex-direction: column;
}