<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alleLister</title>
    <link rel="stylesheet" href="css/style-ListeOprettelse.css">
</head>
<body>


<div>
    <form method="POST" action="/createWishList" class="getInfo" >
        <label for="wishListName">Titel på ønskeliste</label>
        <input type="text" id="wishListName" name="wishListName">
        <input type="hidden" th:attr="name='userID'" th:value="${userID}">
        <input type="submit">
    </form>

    <a th:href="${'/createWishList?id='+userID}"> Delete wish</a>

</div>

<div>
    <h3>
        alle lister
    </h3>
    <p th:each="allWishLists: ${allWishLists}" >
        <a th:href="${allWishLists.url}" th:text="${allWishLists.name}"></a>

    </p>
</div>



</body>
</html>