<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your lists</title>
    <link rel="stylesheet" href="css/style-ListeOprettelse.css">
</head>
<body>

<header class="header">
    <img src="images/logo.png" alt="billede" height="70px" width="70px">
    <h2>All your wishlists</h2>
</header>

<div class="main">
<div>
    <form method="POST" action="/createWishList" class="getInfo" >
        <label for="wishListName">Titel på ønskeliste</label>
        <input type="text" id="wishListName" name="wishListName">
        <input type="hidden" th:attr="name='userID'" th:value="${userID}">
        <input type="submit">
    </form>


</div>

<div>
    <h3>
        alle lister
    </h3>
    <div class="usersWishList">
    <p th:each="allWishLists: ${allWishLists}" >
        <a th:href="${allWishLists.url}" th:text="${allWishLists.name}"></a>
        <a th:href="${'/deleteWishList?wishListID='+allWishLists.wishListID + '&userID='+ userID}"> Delete wishlist</a>
    </p>
    </div>
</div>

</div>

</body>
</html>