<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alleLister</title>
    <link rel="stylesheet" href="css/style-ListeOprettelse.css">
</head>
<body>


<div>

    <form method="POST" action="/createList" class="getInfo" >
        <label for="wishListName">Titel på ønskeliste</label>
        <input type="text" id="wishListName" name="wishListName">
        <label for="user">Bruger navn</label>
        <input type="text" id="user" name="user">
        <input type="submit">
    </form>

</div>



</body>
</html>