<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alleLister</title>
    <link rel="stylesheet" href="css/style-ListeOprettelse.css">
</head>
<body>


<div>

    <form method="POST" action="/createWishList" class="getInfo" >
        <label for="wishListName">Titel på ønskeliste</label>
        <input type="text" id="wishListName" name="wishListName">
        <label for="user">Bruger navn</label>
        <input type="text" id="user" name="user">
        <input type="submit">
    </form>

</div>

<div>
    <h3>
        alle lister
    </h3>
    <!--  <p th:each="allWishlistsName,allWishlistsID: ${allWishlistsName}">
        <a th:href="${allWishlistsID}" th:text="${allWishlistsName}"></a>
        <span th:text="${allWishlistsName}"></span> -->
    <p th:each="allWishLists: ${allWishLists}" >
        <a th:href="${allWishLists.url}" th:text="${allWishLists.name}"></a>

    </p>
</div>



</body>
</html>