<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ADD USER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/create-user.css">
</head>

<body>

<header class="create-user-header">
    <img class="logo-create-user" src="/images/logo.png" alt="billede" height="80px" width="80px">
    <h2>Add New User</h2>
</header>

<br>
<br>

<div class="flex-box-create-user">

    <form method="POST" action="/createUser">

        <div class="form-style">
            <label for="username">UserName</label>
            <input type="text" id="username" name="username" size="50">
        </div>

        <div class="form-style">
            <label for="password">Password</label>
            <input class="password-kasse" type="password" id="password" name="password" size="50">
        </div>


        <div class="form-style">
            <label for="firstname">FirstName</label>
            <input type="text" id="firstname" name="firstname" size="50">
        </div>

        <div class="form-style">
            <label for="lastname">LastName</label>
            <input type="text" id="lastname" name="lastname" size="50">
        </div>

        <div class="form-style">
            <label for="email">E-mail adr</label>
            <input type="text" id="email" name="email" size="50">
        </div>

        <div class="form-style">
            <label for="phone-number">PhoneNum</label>
            <input type="text" id="phone-number" name="phone-number" size="50">
        </div>

        <div class="form-style-submit">
            <input class="knap" type="submit" value="Add User">
        </div>

    </form>

</div>
</body>
</html>