<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/frontPage.css">
</head>
<body>

<div class="flex-box">
    <img src="../images/logo.png" alt="billede" height="70px" width="70px">
    <a href="create-user.html"  class="tilmeld">NEW USER</a>
    <a href="login.html" class="login">SIGN IN</a>
</div>

</header>


<main>
    <div class="main">
        <img src="../images/mainPicture.png" alt="mainPicture" height="600" width="1000">
    </div>

</main>


</body>
</html>