<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FRONTPAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/front-page.css">
</head>
<body>

<header>
<div class="flex-box">

    <img src="/images/logo.png" alt="billede" height="70px" width="70px">
    <a href="createUser"  class="tilmeld">NEW USER</a>
    <a href="login" class="login">SIGN IN</a>
</div>

</header>

<main>
    <div class="main">
        <img src="/images/mainPicture.png" alt="mainPicture" height="600" width="1000">
    </div>

</main>


</body>
</html>