<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>listeOprettelse</title>
    <link rel="stylesheet" href="css/style-ListeOprettelse.css">
</head>
<body>
<div>

    <form method="POST" action="/create" class="getInfo" >
        <label for="titel">Titel</label>
        <input type="text" id="titel" name="titel">
        <label for="beskrivelse">Beskrivelse</label>
        <input type="text" id="beskrivelse" name="beskrivelse">
        <label for="pris">Pris</label>
        <input type="number" id="pris" name="pris">
        <input type="submit">
    </form>

</div>

</body>
</html>