<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN IN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/sign-in.css">

</head>
<body>

<header class="sing-in-header">
    <h2>Sign in</h2>
</header>
<br>
<br>

<div class="flex-box-sign-in">


<form method="POST" action="/login" class="getInfo" >

    <table>

        <tr>
            <th><label for="username">User name</label></th>
            <th><input type="text" id="username" name="username" size="50"></th>
        </tr>

        <tr>
            <th><label for="password">Password</label></th>
            <th><input type="password" id="password" name="password" size="50"></th>
        </tr>
        <tr>
            <th><input type="submit" value="Sign in"></th>
        </tr>

    </table>
</form>

</div>

</body>
</html>
