<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN IN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/sign-in.css">
</head>
<body>

<header class="sign-in-header">
    <img class="logo-sign-in" src="/images/logo.png" alt="billede" height="80px" width="80px">
    <h2>Sign in</h2>
</header>
<br>
<br>

<div class="flex-box-sign-in">

    <form method="POST" action="/login" class="getInfo">

        <div class="form-style">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" size="50">
        </div>

        <div class="form-style">
            <label for="password">Password</label>
            <input class="password-kasse" type="password" id="password" name="password" size="50">
        </div>

        <div class="form-style-submit">
            <input class="knap" type="submit" value="Sign in">
        </div>

    </form>
</div>

</body>
</html>