<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your wishlist</title>
    <link rel="stylesheet" href="css/single-list.css">
</head>
<body>
<header class="header">
    <img src="images/logo.png" alt="billede" height="70px" width="70px">
</header>
<br>
<br>
<div class="main">
    <div>
        <form method="POST" action="/createWishAndAddToWishList" class="formBox">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
            <label for="price">Price</label>
            <input type="number" id="price" name="price">
            <input type="submit" value="Add Wish">
        </form>
    </div>
    <br>
    <a th:href="${'lists'+ '?userID='+ userID}" class="button">Back to your wishlists</a>
    <div>
        <h2>Wishes on this list</h2>
        <div>
            <p th:each="wishes: ${wishes}">
                <a th:href="${'/deleteWish?id='+wishes.wishID}"><img src="images/deleteButton.png" alt="billede"
                                                                     height="15px" width="15px"></a>
                <span th:text="${wishes.name}"></span>
                <span th:text="${wishes.description}"></span>
                <span th:text="${wishes.price}"></span>
            </p>
        </div>
    </div>
</div>

</body>
</html>
</body>
</html>